body {
	background-color: white;
	font-family: 'Lato', sans-serif;
	color: #666;
 	padding: 0.0em 0em 4em 0;
	font-weight: 400;
}

#bigtitle {
	font-size: 3.0em;	
	font-weight: 300;
}

#wrap {
	background-color: white;
     width: 1000px;
     margin: auto;
	 padding: 1em;
	 font-size: 0.8em;
}

#wrapLeft {
	margin-top: -0.3em;
	 font-size: 1.0em;
     width: 450px;
	 float: left;
	 line-height: 130%;
}

#wrapRight {
	 font-size: 1.0em;
     width: 550px;
	 margin-left: 470px;
}


#content {
	padding-bottom: 0px 10px 10px 10px;
}


div.menu {
	position: relative;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}


div.button {
	margin-right: 2em;
	position: relative;
	height: 1.5em;
	padding: 5px 10px 0px 10px;
	font-size: 14px;
	float: left;
	border: 1px solid #aaa;
	width: 72px;
	text-align: center;
}


blockquote {
	margin-top: 20px;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 30px;
}


blockquote:before {
	display: marker;
	content: url("../images/left_quote_light.png");
	padding-right: 7px;
}


blockquote:after {
	display: marker;
	content: url("../images/right_quote_light.png"); padding-left: 5px;
}

a {
color: #E3110F;
text-decoration: none;
}

a.nav {
font-weight: normal;
color: #aaa;
}

a.nav-target {
font-weight: normal;
}

a.title {
text-transform: lowercase;
color: #888;
letter-spacing: 0.1em;
font-weight: normal;
}

a:hover {
color:#900;
}

h1 {
font-size: 1.4em;
text-transform: lowercase;
font-weight: normal;
padding-top: 10px;
padding-bottom: 0px;
margin-bottom: 0px;
}


h2 {
font-size: 1.2em;
text-transform: lowercase;
font-weight: normal;
padding-bottom: 2px;
margin-top: -0.3em;
}


div.footer {
padding-top: 5em;
font-size: 0.7em;
text-align: right;
}
